.row {
  height: 100vh;
}
.row > .head_top {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.row > .head_top > * {
  width: 100%;
}
.row > .head_top > header {
  height: 10%;
  position: relative;
}
.row > .head_top > header > * {
  height: 100%;
}
.row > .head_top > header > nav:first-of-type {
  width: 40%;
}
.row > .head_top > header > nav:first-of-type > ul {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.row > .head_top > header > nav:first-of-type > ul > li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: 0.4s;
}
.row > .head_top > header > nav:first-of-type > ul > li:hover {
  border: 1px solid black;
  border-radius: 10px;
}
.row > .head_top > header > nav:first-of-type > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
.row > .head_top > header > nav:first-of-type > ul > li > a {
  font-size: 18px;
  text-transform: capitalize;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul {
  width: 100%;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 63px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul > li {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul > li > .box {
  width: 16.666666667%;
  height: 100%;
  border: 1px solid black;
  flex-direction: column;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul > li > .box > h3 {
  text-transform: uppercase;
  padding: 10px 5px 30px;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul > li > .box > a {
  text-transform: capitalize;
  padding: 5px 5px;
  transition: 0.4s;
}
.row > .head_top > header > nav:first-of-type > ul > li > ul > li > .box > a:hover {
  text-decoration: underline;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts {
  width: 100%;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 63px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts > li {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts > li > .box {
  width: 16.666666667%;
  height: 100%;
  border: 1px solid black;
  flex-direction: column;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts > li > .box > h3 {
  text-transform: uppercase;
  padding: 10px 5px 30px;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts > li > .box > a {
  text-transform: capitalize;
  padding: 5px 5px;
  transition: 0.4s;
}
.row > .head_top > header > nav:first-of-type > ul > li > .gifts > li > .box > a:hover {
  text-decoration: underline;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore {
  width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 63px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore > li {
  width: 100%;
  height: auto;
  border: 2px solid black;
  display: flex;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore > li > .box {
  width: 16.666666667%;
  height: auto;
  border: 1px solid black;
  flex-direction: column;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore > li > .box > h3 {
  text-transform: uppercase;
  padding: 10px 5px 30px;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore > li > .box > a {
  text-transform: capitalize;
  padding: 5px 5px;
  transition: 0.4s;
}
.row > .head_top > header > nav:first-of-type > ul > li > .explore > li > .box > a:hover {
  text-decoration: underline;
}
.row > .head_top > header > figure {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row > .head_top > header > figure > img {
  width: 60%;
  height: 60%;
}
.row > .head_top > header > nav:last-of-type {
  width: 40%;
}
.row > .head_top > header > nav:last-of-type > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row > .head_top > header > nav:last-of-type > ul > li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  transition: 0.4s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.row > .head_top > header > nav:last-of-type > ul > li:hover {
  border: 1px solid black;
  border-radius: 10px;
}
.row > .head_top > header > nav:last-of-type > ul > li > a {
  font-size: 18px;
  text-transform: capitalize;
}
.row > .head_top > div:first-of-type {
  height: 10%;
}
.row > .head_top > div:first-of-type > form {
  width: 100%;
  height: 100%;
  position: relative;
}
.row > .head_top > div:first-of-type > form > input {
  width: 100%;
  height: 100%;
  outline: none;
}
.row > .head_top > div:first-of-type > form > input::-moz-placeholder {
  font-size: 18px;
  padding-left: 40px;
}
.row > .head_top > div:first-of-type > form > input::placeholder {
  font-size: 18px;
  padding-left: 40px;
}
.row > .head_top > div:first-of-type > form > label {
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.row > .head_top > div:last-of-type {
  height: 100%;
  position: relative;
}
.row > .head_top > div:last-of-type > figure {
  width: 100%;
  height: 100%;
}
.row > .head_top > div:last-of-type > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.row > .head_top > div:last-of-type > div {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 42%;
  overflow: hidden;
}
.row > .head_top > div:last-of-type > div:hover > div:first-of-type {
  top: -100%;
}
.row > .head_top > div:last-of-type > div:hover > div:last-of-type {
  top: 0;
}
.row > .head_top > div:last-of-type > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.row > .head_top > div:last-of-type > div > div:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
}
.row > .head_top > div:last-of-type > div > div:last-of-type {
  position: absolute;
  top: 100%;
  left: 0;
}
.row > .head_top > div:last-of-type > div > div > a {
  text-transform: uppercase;
}

.page1 {
  width: 100%;
  height: 120vh;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
  background-position-x: -100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page1 > div {
  width: 500px;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
}
.page1 > div > h2 {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
}
.page1 > div > div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
.page1 > div > div > div {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.page1 > div > div > div:hover > div:first-of-type {
  top: -100%;
}
.page1 > div > div > div:hover > div:last-of-type {
  top: 0;
}
.page1 > div > div > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.page1 > div > div > div > div > a {
  font-size: 20px;
  text-transform: uppercase;
}
.page1 > div > div > div > div:first-of-type {
  top: 0;
  left: 0;
}
.page1 > div > div > div > div:last-of-type {
  top: 100%;
  left: 0;
}

.page2 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page2 > .row {
  width: 400px;
  height: 100px;
  justify-content: center;
}
.page2 > .row > h2 {
  text-transform: uppercase;
  font-size: 25px;
}
.page2 > .row > div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
.page2 > .row > div > div {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.page2 > .row > div > div:hover > div:first-of-type {
  top: -100%;
}
.page2 > .row > div > div:hover > div:last-of-type {
  top: 0;
}
.page2 > .row > div > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.page2 > .row > div > div > div > a {
  font-size: 20px;
  text-transform: uppercase;
}
.page2 > .row > div > div > div:first-of-type {
  top: 0;
  left: 0;
}
.page2 > .row > div > div > div:last-of-type {
  top: 100%;
  left: 0;
}

.page3 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page3 > div {
  width: 500px;
  height: 100px;
  justify-content: center;
  align-items: flex-start;
}
.page3 > div > h2 {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
}
.page3 > div > div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
.page3 > div > div > div {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.page3 > div > div > div:hover > div:first-of-type {
  top: -100%;
}
.page3 > div > div > div:hover > div:last-of-type {
  top: 0;
}
.page3 > div > div > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.page3 > div > div > div > div > a {
  font-size: 20px;
  text-transform: uppercase;
}
.page3 > div > div > div > div:first-of-type {
  top: 0;
  left: 0;
}
.page3 > div > div > div > div:last-of-type {
  top: 100%;
  left: 0;
}

.page4 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page4 > .row {
  width: 400px;
  height: 100px;
  justify-content: center;
}
.page4 > .row > h2 {
  text-transform: uppercase;
  font-size: 25px;
}
.page4 > .row > div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}
.page4 > .row > div > div {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.page4 > .row > div > div:hover > div:first-of-type {
  top: -100%;
}
.page4 > .row > div > div:hover > div:last-of-type {
  top: 0;
}
.page4 > .row > div > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.page4 > .row > div > div > div > a {
  font-size: 20px;
  text-transform: uppercase;
}
.page4 > .row > div > div > div:first-of-type {
  top: 0;
  left: 0;
}
.page4 > .row > div > div > div:last-of-type {
  top: 100%;
  left: 0;
}

.footer {
  width: 100%;
  height: 300px;
}
.footer > footer {
  width: 100%;
  height: 100%;
  background-color: rgb(109, 109, 109);
  display: flex;
}
.footer > footer > div {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.footer > footer > div > h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 10px 0;
}
.footer > footer > div > a {
  margin: 10px;
  text-transform: capitalize;
}
.footer > footer > div > a:hover {
  text-decoration: underline;
}
.footer > footer > div > figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
}
.footer > footer > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */